mixin menuLink(title,href = "#")
  li.header-menu-item
    a.header-menu-link(href= href)= title 
mixin headerBottomItem(number, text)
  .header-bottom-item&attributes(attributes)
    span.header-bottom-item-number= number 
    span.header-bottom-item-text= text 
mixin blockBox(caption, title, desc)
  .block-box
    h3.block-box-caption=caption 
    h2.block-box-heading=title 
    if desc 
      p.block-box-desc=desc
mixin aboutItem(source, iconClass,title)
  .about-item
    img.about-item-image(src= source, alt= title)
    .about-item-content 
      i.about-icon(class= iconClass)
      span.about-title= title 
mixin servicesItem(title, desc, iconCLass)
  .services-item
    i.services-item-icon(class = iconCLass)
    .services-item-content 
      span.services-item-title= title 
      p.services-item-desc=desc 
mixin statisticsItem(number, title)
  .statistics-item
    span.statistics-item-number= number
    span.statistics-item-title=title 
mixin servicesbottomItem(imageIcon, title, iconClass, content, active)
  .servicesbottom-item(class= active)
    .servicesbottom-item-header
      img(src=imageIcon).servicesbottom-item-icon
      h3.servicesbottom-item-title=title
      i.servicesbottom-item-arrow(class= iconClass)
    if content
      .servicesbottom-item-text
        p.servicesbottom-item-content= content
mixin blockQuote(image, desc, author)
  .quote-content 
    img(src=image).quote-img
    .quote-desc
      p.quote-desc-text=desc 
      span.quote-desc-author=author 
mixin teamItem(src = "./images/img-team.jpg", name = "Tú Ginô", position = "Frontend Developer")
  .team-item
    .team-main
      img.team-item-image(src= src, alt= name)
      .team-content 
        if block 
          block
    .team-info 
      h3.team-name=name 
      span.team-position=position

mixin teamSocial(facebook = "#", twitter = "#", pinterest = "#", instagram = "#")
  ul.team-social
    li.team-social-item
      a.team-social-link(href= facebook)
        i.fab.fa-facebook-f
    li.team-social-item
      a.team-social-link(href= twitter)
        i.fab.fa-twitter
    li.team-social-item
      a.team-social-link(href= pinterest)
        i.fab.fa-pinterest
    li.team-social-item
      a.team-social-link(href= instagram)
        i.fab.fa-instagram

mixin workItem(src = "./images/img-work1.png", icon = "fa fa-home", title = "Photographer Super", full = "", desc = "Lorem ipsum dolor sit")
  .work-item(class= full)
    img.work-image(src= src)
    .work-content
      i.work-icon(class= icon)
      h3.work-title= title
      span.work-desc.text.text--light= desc

mixin quotesItem(src = "../images/img-quote.png", type = false, desc = "Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi doloremque a perspiciatis minus pariatur itaque voluptas illum delectus necessitatibus, tempora sapiente nobis cupiditate, ipsum fugiat quos, rem ea enim reiciendis!", author = "Tus GiNo")
  .quotes-item
    if type == false
      .quotes-icon
        img(src= src)
    else
      img(src= src).quotes-image
    .quotes-info
      p.quotes-desc= desc
      span.quotes-author= author

mixin peopleItem(src="https://images.unsplash.com/photo-1533227268428-f9ed0900fb3b?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1179&q=80", name = "EvonDev", job = "Graphic Design", desc = "Lorem ipsum, dolor sit amet consectetur adipisicing elit. Possimus dignissimos quia pariatur quis modi doloremque consequatur facilis consequuntur. Fuga ea eius dignissimos porro animi, amet voluptatibus illo officiis eum numquam?")
  li.people-item
    img.people-avatar(src= src)
    .people-info
      h3.people-name= name
      span.people-job.text.text--light= job
      p.people-desc.text= desc

mixin storyItem(src="./images/img-blog1.png", dateNumber = 15, dateText = "Jan" , title="Lorem ipsum dolor sit amet consectetur adipisicing elit.", desc = "Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde quidem nihil reprehenderit repudiandae aliquam, debitis magnam animi esse ipsam soluta non voluptas repellendus laboriosam totam sunt doloremque distinctio labore quas?", views = 1000, comments = 100)
  li.story-item
    .story-media
      img.story-image(src= src)
      .story-date
        span.story-date-number= dateNumber
        span.story-date-text.text.text--light= dateText
    h3.story-title= title
    .story-desc.text
      p.story-desc-inner= desc
    .story-meta
      .story-meta-item
        i.fa.fa-eye.story-meta-icon
        span.story-meta-number.text= views
      .story-meta-item
        i.fa.fa-comment.story-meta-icon
        span.story-meta-number.text= comments